/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}


/* TABLE FORMATTING (for modal)*/
table {
  border-collapse: collapse;
  border: 10px solid rgb(230, 230, 233);
  font-family: sans-serif;
  font-size: 1rem;
  margin-left: auto;
  margin-right: auto;
  /*letter-spacing: 1px;*/
}

thead,
tfoot {
  font-size: 2rem;
  color: rgb(0, 51, 160);
  /*background-color: rgb(228 240 245);*/
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

ul {
  background: rgb(241, 240, 243);
  padding: 20px;
}

ul li {
  /*background: rgb(217, 214, 214);*/
  color: darkblue;
  margin: 10px;
}

/*Modal*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #5e63f4;
  color: white;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #5e63f4;
  color: white;
  height: 50px;
}

/* Modal Content/Box */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 3px solid #070707;
  max-width: 1000px;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

.modal-text {
  padding: 10px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

  



/*---------------ENTER BUTTON---------------------*/

.enter_button {
  appearance: none;
  background-color: #fafaf8;
  border: 3px solid #272727;
  border-radius: .375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #363636;
  cursor: pointer;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.5rem;
  height: 5em;
  width: 10em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(.5em - 1px) 1em;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: auto;
  margin-right: auto;
  display: block;
  white-space: nowrap;
  /*float: right;*/
}

.enter_button:active {
  border-color: #111010;
  outline: 0;
}

.enter_button:focus {
  border-color: #485fc7;
  outline: 0;
}

.enter_button:hover {
  border-color: #6c6060;
}

.enter_button:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
}


/*---------------Modal BUTTONS---------------------*/


.modal_button {
  align-items: center;
  appearance: none;
  background-color: #b0a5d7;
  border: 1px solid #dbdbdb;
  border-radius: .375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #363636;
  cursor: pointer;
  display: inline-flex;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1rem;
  height: 2.5em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(.5em - 1px) 1em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  /*float: right;*/
}

.modal_button:active {
  border-color: #4a4a4a;
  outline: 0;
}

.modal_button:focus {
  border-color: #485fc7;
  outline: 0;
}

.modal_button:hover {
  border-color: #b5b5b5;
}

.modal_button:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
}

